# Coding Assignment 9
## Mona Ria Stanton

In [31]:
class Student:
    pass  
ans1a = type(Student)
ans1b = Student.__module__
print(ans1a)
print(ans1b)

<class 'type'>
__main__

In [33]:
class Student:
    student_name = 'John Smith'
    grade = 86
    
ans2a = Student.student_name
print(ans2a)

John Smith

In [35]:
ans3a = setattr(Student, 'student_name', 'Angela Brooks')
ans3a = setattr(Student, 'grade', 87)
print(ans3a)

None

In [39]:
class Student:
    def __init__(self, student_name, student_id, grade, email):
        self.student_name = student_name
        self.student_id = student_id
        self.grade = grade
        self.email = email
    
ans4 = Student("Francis Green", 475895, 56, "francisgreen@mit.edu")
print(ans4)

<__main__.Student object at 0x146612a80>

In [41]:
class Student:
    def __init__(self, student_name, student_id, grade, email):
        self.student_name = student_name
        self.student_id = student_id
        self.grade = grade
        self.email = email
        
    def curved_average(self):
        updated_grade = self.grade *1.2
        return updated_grade
        
ans4 = Student("Francis Green", 475895, 56, "francisgreen@mit.edu")
ans5 = ans4.curved_average()
print(ans4)
print(ans5)

<__main__.Student object at 0x146612000>
67.2

In [43]:
def my_sum(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x
    return result

ans6a = my_sum(1,3,5,6,10)
ans6b = my_sum(10,4,6,2)
print(ans6a)
print(ans6b)

25
22

In [45]:
def my_average(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x
    result = result/len(args)
    return result

ans7a = my_average(78,82,91,66)
ans7b = my_average(56,89,76,100)
print(ans7a)
print(ans7b)

79.25
80.25

In [47]:
def print_last_info(**data):

    for key, value in data.items():
        string = ("{} is {}".format(key,value))
    return string

ans8a = print_last_info(Name= "Rosie", Age= 33, Profession= "Data Scientist")
ans8b = print_last_info(Name= "Kyle", Age= 28, Profession= "Data Engineer", Phone_Number=4659874982)
print(ans8a)
print(ans8b)

Profession is Data Scientist
Phone_Number is 4659874982

In [49]:
movie = {"Title":"Inception", "Director": "Nolan", "Year":2010}
def print_movie(**kwargs):
    for key, value in kwargs.items():
        string = f"{key}: {value}"
        return string
        
ans9a = print_movie(**movie)
ans9b = print_movie(**movie, Music = "Zimmer")
print(ans9a)
print(ans9b)

Title: Inception
Title: Inception

In [51]:
def plus_one(number):
    def add_one(number):
        return number + 1


    result = add_one(number)
    return result
ans10 = plus_one(7)
print(ans10)

8

In [53]:
def uppercase_decorator(function):
    def wrapper():
        func = function()
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper
@uppercase_decorator
def say_hello():
    return 'hello there!'

ans11 = say_hello()
print(ans11)

HELLO THERE!

In [55]:
def decorator_with_arguments(function):
    def wrapper_accepting_arguments(arg1, arg2):
        print("My arguments are: {0}, {1}".format(arg1,arg2))
        function(arg1, arg2)
    return wrapper_accepting_arguments


@decorator_with_arguments
def cities(city_one, city_two):
    print("Cities I love are {0} and {1}".format(city_one, city_two))

ans12 = cities("Paris", "New York")
print(ans12)

My arguments are: Paris, New York
Cities I love are Paris and New York
None

In [57]:
def decorator_passing_arbitrary_arguments(function_to_decorate):
    def wrapper_accepting_arbitrary_arguments(*args):
        print('The positional arguments are', args)
        function_to_decorate(*args)
    return wrapper_accepting_arbitrary_arguments

@decorator_passing_arbitrary_arguments
def function_with_arguments(a, b, c):
    return a, b, c

ans13 = function_with_arguments(1,2,3)
print(ans13)

The positional arguments are (1, 2, 3)
None